---
import Layout from "../layouts/Layout.astro";

import MiArticulo from "../content/projects/infraestructura_ecommerce.md"
import "../styles/markdown.css";
---

<Layout title="Erick Sosa - Proyectos">
    <section class="max-w-screen-md py-25 px-4 flex flex-col items-center mx-auto">
        <article class="markdown-content">
            <MiArticulo />
        </article>
    </section>
</Layout>