---
import { socialLinks } from '../content/data/db';
---

<footer class="py-8 px-4 sm:px-6 lg:px-8 border-t border-gray-300 shadow-sm">
    <div class="max-w-6xl mx-auto">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="text-gray-600 mb-4 md:mb-0">
                © <span id="current-year"></span> Erick Sosa. Backend Developer.
            </div>
            

            <div class="flex items-center space-x-6">
                {socialLinks.map((link) => (
                    <a href={link.url} class="footer-link" title={link.name}>
                        <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24">
                            <path d={link.icon}/>
                        </svg>
                    </a>                  
                ) )}
            </div>
        </div>
    </div>
</footer>
