---
interface Props {
    name: string;
    title: string;
    description: string;
    image: string;
}

const { name, title, description, image } = Astro.props;
---
<section id="home" class="py-25 px-4 sm:px-6 lg:px-8">
    <div class="max-w-4xl mx-auto text-center">
        <div class="mb-8">
            <div class="w-34 h-34 mx-auto bg-gradient-to-br from-blue-500 to-purple-600 rounded-full flex items-center justify-center mb-6 shadow-2xl animate-bounce-in">
                <img src="/images/Erick.jpg" alt="Erick Sosa" class="w-32 h-32 rounded-full">
            </div>
        </div>
        <h1 class="text-5xl md:text-7xl font-bold text-slate-900 mb-6">
              Hola, soy{" "}
              <span class="bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text 
              text-transparent">{name}</span>
        </h1>
        <h2 class="text-xl md:text-2xl text-blue-600 font-medium mb-8">
            {title}
        </h2>
        <p class="text-lg text-gray-600 mb-8 max-w-2xl mx-auto">
            {description}
        </p>
    </div>
</section>